/* Write your CSS here */
.not_found_container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: 'Roboto';
  font-size: 39px;
  font-weight: bold;
  color: white;
}
