.main_img_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 30px;
}
.latest_macth_side_name {
  font-family: 'Roboto';
  font-size: 25px;
  color: white;
  align-self: flex-start;
}
.latest_match_containner {
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
}
.team_title_date_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  height: 70%;
}
.latest_match_title {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.latest_match_date {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.latest_match_text {
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: bold;
  color: white;
}
.latest_match_logo_size {
  height: 150px;
  width: 200px;
}
.team_logo_container {
  display: flex;
  padding: 20px;
  margin-left: 45px;
  height: 70%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.team_details_container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  margin-left: 95px;
}
